.home_part
    a(href="https://www.katalyze.in")
        i.large.material-icons home
        h3 Go To Home
.logo_part
    img.logo_footer(src='/images/logo.png')
.contact_part
    a(href="https://www.katalyze.in/contactus.php")
        i.large.material-icons contact_mail
        h3 Click here to Contact Us