doctype html
html(lang='en')
    head
        title Katalyze
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
        link(rel='stylesheet' href='/bootstrap-4.0.0/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='/style/style.css')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(type='text/javascript' src='/js/turn.min.js')
        script(src="https://kit.fontawesome.com/a51aac345e.js" crossorigin="anonymous")
        link(href='https://fonts.googleapis.com/css?family=Charm' rel='stylesheet')